/*General*/
* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #f1f1f1;
  font-weight: 300;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/background.jpg);
  background-size: cover;
  backdrop-filter: blur(8px);
}

/*Stretches every img file to its container*/
img {
  max-width: 100%;
  max-height: 100%;
}

/*City and Country container*/
.container {
  margin-top: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  border: none;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  border-radius: 2px;
}

/*Center information*/
.weather-condition {
  display: flex;
  flex-direction: column;
  height: 263px;
  margin-top: 30px;
}

.current-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 196px;
}

.current-temperature {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.current-icon {
  width: 162px;
  height: 162px;
}

.current-description {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

/*Search bar*/
.search-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-left: 75px;
}

/*Search text*/
#search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;
  border-style: solid;
  border-color: #f1f1f1;
  border-radius: 50px;
  border-width: 1.5px;
  height: 50px;
  width: 250px;
  background: transparent;
  text-align: center;
}

#search:focus {
  outline-width: 0;
}

#search:focus::placeholder {
  color: transparent;
}

#search::placeholder {
  color: #f1f1f1;
}

/*Add button*/
#add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: #f1f1f1;
  border-radius: 50px;
  border-width: 1.5px;
  margin-left: 25px;
  background: transparent;
  font-size: 30px;
}

#add:hover {
  cursor: pointer;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.05);

  border-style: solid;
  border-color: #f1f1f1;
  border-radius: 50px;
  border-width: 1.5px;
}

#add:focus {
  outline-width: 0;
}

#add:active {
  background-color: transparent;
}

/*Bottom forecast information container*/
.forecast-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 0;
  padding: 0;
}

/*Weather forecast container for each day*/
.day {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;
}

.forecat-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 30px;
}

#img-forecast {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

/*City List */
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.city-button {
  padding: 6px;
  border-style: solid;
  border-color: #f1f1f1;
  border-radius: 50px;
  border-width: 1px;
  background: transparent;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-style: solid;
  border-color: #f1f1f1;
  border-radius: 50px;
  border-width: 1px;
  background: transparent;
  width: 18px;
  height: 18px;
}

.city-button:hover {
  cursor: pointer;
  font-weight: 500;
  border-width: 2px;
}
.delete-button:hover {
  cursor: pointer;
  font-weight: 500;
  border-width: 2px;
}

.city-button:focus {
  font-weight: 500;
  border-width: 2px;
  outline: none;
}

.delete-button:focus {
  outline-width: 0;
}

.city-button:active {
  cursor: pointer;
  border-width: 1px;
  font-weight: 300px;
}

.delete-button:active {
  cursor: pointer;
  border-width: 1px;
  font-weight: 300px;
}

/*Text Settings*/
/*Country text*/
h2 {
  font-size: 20px;
}

/*Temperature Text*/
h3 {
  font-size: 3em;
  display: flex;
}

/*Description Text*/
h4 {
  text-transform: capitalize;
  font-size: 45px;
}

/*Days of week text*/
h5 {
  font-weight: bold;
}
